@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
body {
  background: linear-gradient(135deg, white, #fff5f5 70%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
}

*, * *, *::after, *::before {
  box-sizing: border-box;
}

header {
  padding: 2em;
}
header img {
  vertical-align: bottom;
  height: 1.5em;
}

main {
  min-height: calc(100vh - 5.5em);
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card {
  width: 100%;
}

.card__img {
  background-image: url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.card__body {
  padding: 2em;
  text-align: center;
}

.card__title {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #413a3a;
  letter-spacing: 0.25em;
  line-height: 1.1em;
}
.card__title span {
  font-weight: 300;
  color: #ce9797;
}

.card__description {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #ce9797;
  margin-bottom: 2em;
}

form {
  white-space: nowrap;
  height: 3em;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}

#error-message {
  position: absolute;
  top: calc(100% + 0.5em);
  left: 1.6em;
  font-size: 0.85em;
  color: #f96262;
}

#error-icon {
  position: relative;
  top: 0.5em;
  left: -11em;
}

input[type=email] {
  border-width: 1px;
  border-style: solid;
  border-color: #ce9797;
  border-radius: 2em;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: none;
  padding-left: 2em;
  padding-right: 4em;
  color: #ce9797;
}
input[type=email]:focus {
  outline: 2px solid #413a3a;
}
input[type=email]:valid {
  outline-color: green;
}
input[type=email]:invalid {
  outline-color: #f96262;
  border-color: #f96262;
}
input[type=email]:invalid ~ #error-message::after {
  display: block;
  content: "Please provide a valid email.";
  font-size: 0.85em;
  color: #f96262;
}
input[type=email]:invalid ~ #error-icon::after {
  content: url("../images/icon-error.svg");
}

input[type=submit] {
  display: inline-block;
  height: 100%;
  padding: 0 2.5em;
  border: none;
  border-radius: 2em;
  transform: translateX(-100%);
  background: url("../images/icon-arrow.svg"), linear-gradient(135deg, #f8bfbf, #ee8c8c);
  vertical-align: bottom;
  box-shadow: 1px 8px 12px 1px rgba(238, 140, 140, 0.4);
  background-repeat: no-repeat;
  background-position: center;
}
input[type=submit]:hover {
  cursor: pointer;
  background: url("../images/icon-arrow.svg"), #f8bfbf;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #ce9797;
  color: #413a3a;
}
footer a {
  color: inherit;
}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60%;
  }
  header .wrapper {
    width: min(80%, 500px);
  }

  .card {
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .card__img {
    width: 40%;
    height: inherit;
    background-image: url("../images/hero-desktop.jpg");
    background-size: cover;
  }

  .card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    width: 60%;
  }

  .card__body > * {
    max-width: min(80%, 500px);
  }

  .card__title {
    font-size: 4em;
    margin-bottom: 0;
  }

  .card__description {
    font-size: 1em;
    padding-right: 2em;
  }
}
@media (max-width: 1100px) and (min-width: 800px) {
  .card__title {
    font-size: 3em;
  }
}
@media (max-width: 900px) and (min-width: 800px) {
  .card_description {
    padding-right: 1em;
  }
}
@media (max-width: 799px) and (min-width: 450px) {
  .card__body > * {
    max-width: min(80%, 400px);
    margin-left: auto;
    margin-right: auto;
  }

  .card__img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
